<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms name=".agentcookie" defaultUrl="~/Home.aspx" loginUrl="~/Default.aspx" slidingExpiration="true" timeout="2880"/>
    </authentication>
  </system.web>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=call center;User ID=sa;Password=root" providerName="System.Data.SqlClient"/>
    <!--   <add name="myConnectionString" connectionString="Data Source=callcenter.mssql.somee.com;Initial Catalog=callcenter;Persist Security Info=False;User ID=tackeljack_SQLLogin_1;Password=blszw765uj;Packet Size=4096;Workstation ID=callcenter.mssql.somee.com"
         providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
</configuration>