<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
   <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
    <forms defaultUrl="~/pages/dashboard.aspx" loginUrl="~/Default.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
    <sessionState timeout="540"/>

    <customErrors mode="RemoteOnly"
                     defaultRedirect="~/pages/error.aspx" />
      </system.web>
  <connectionStrings >
    <!-- <add
         name="myConnectionString"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\osa\WebSite8\data\callcenter.mdf;Integrated Security=True;Connect Timeout=30" 
         providerName="System.Data.SqlClient"/>

   <add name="myConnectionString" connectionString="Data Source=callcenter.mssql.somee.com;Initial Catalog=callcenter;Persist Security Info=False;User ID=tackeljack_SQLLogin_1;Password=blszw765uj;Packet Size=4096;Workstation ID=callcenter.mssql.somee.com"
         providerName="System.Data.SqlClient"/> -->

    <add
         name="myConnectionString"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=call center;User ID=sa;Password=root"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>